{% comment %}
Password message which you can edit on /admin/online_store/preferences
{% endcomment %}
{% unless shop.password_message == blank %}
	<p class="password-page__message">
		{{ shop.password_message }}
	</p>
{% endunless %}

{% comment %}
Signup form
{% endcomment %}
{% if section.settings.newsletter_enable %}
  <div class="password-signup-form">
	{% form 'customer' %}
	  {{ form.errors | default_errors }}
	    {% if form.posted_successfully? %}
			<ul class="form-success">
				<li>{{ 'general.password_page.signup_form_success' | t }}</li>
			</ul>
		{% else %}
			<p class="h2">{{ section.settings.newsletter_form_heading | escape }}</p>
			{% unless section.settings.newsletter_form_subheading == blank %}
				<div class="password-signup-form__subheading">
					{{ section.settings.newsletter_form_subheading }}
				</div>
			{% endunless %}
			<input type="hidden" name="contact[tags]" value="prospect, password page">
			<label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
			<div class="input-group">
				<input type="email" name="contact[email]" id="Email" class="input-group__field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
				<span class="input-group__btn">
					<button type="submit" name="commit" class="btn btn--narrow">
						{% include 'icon-arrow-right' %}
						<span class="icon__fallback-text">{{ 'general.newsletter_form.submit' | t }}</span>
					</button>
				</span>
			</div>
		{% endif %}
	  {% endform %}
	{% endif %}
</div>



{% schema %}
{
  "name": {
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fr": "Contenu",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "pt-BR": "Conteúdo"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "de": "Newsletter Signup zeigen",
        "en": "Show newsletter signup",
        "es": "Mostrar suscripción al boletín",
        "fr": "Afficher l'inscription à la newsletter",
        "it": "Mostra iscrizione alla newsletter",
        "ja": "ニュースレターのサインアップを表示する",
        "pt-BR": "Exibir assinatura da newsletter"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "de": "Newsletter-Formular Titel",
        "en": "Newsletter form heading",
        "es": "Título del formulario de boletín",
        "fr": "Titre du formulaire d'inscription à la newsletter",
        "it": "Intestazione del modulo della newsletter",
        "ja": "ニュースレターフォームの見出し",
        "pt-BR": "Título do formulário da newsletter"
      },
      "default": {
        "de": "Seien Sie der Erste, der von unserem Launch erfährt.",
        "en": "Be the first to know when we launch.",
        "es": "Entérate de nuestros lanzamientos antes que los demás.",
        "fr": "Faites partie des premières personnes à être informées de notre lancement.",
        "it": "Sii il primo a sapere quando effettueremo il lancio.",
        "ja": "私達が発売をする時に誰よりも早く知ってください。",
        "pt-BR": "Seja o primeiro a saber quando lançarmos."
      },
      "info": {
        "de": "[Informieren Sie Ihre Besucher über einen Rabatt am Tag der Shop-Eröffnung](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "en": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "es": "[Informa a tus visitantes sobre un descuento del día de lanzamiento](https://es.shopify.com/blog/15567552-14-maneras-de-utilizar-las-ofertas-cupones-y-descuentos-para-generar-ganancias-y-lealtad-del-cliente).",
        "fr": "[Annoncez une réduction à vos visiteurs pour le jour du lancement](https://fr.shopify.com/blog/57222917-14-manieres-dutiliser-les-codes-promo-bons-de-reduction-coupons-et-remises-pour-generer-des-revenus-et-fideliser-les-clients).",
        "it": "[Informa i tuoi visitatori su uno sconto previsto il giorno del lancio](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "ja": "[訪問者に発売日の割引について伝える](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "pt-BR": "[Informe seus visitantes sobre um desconto de lançamento](https://pt.shopify.com/blog/aplicativos-de-desconto)."
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": {
        "de": "Untertitel für Newsletter-Formular",
        "en": "Newsletter form subheading",
        "es": "Subtítulo del formulario de boletín",
        "fr": "Sous-titre du formulaire de la newsletter",
        "it": "Sottotitolo del modulo della newsletter",
        "ja": "ニュースレターフォームの小見出し",
        "pt-BR": "Subtítulo do formulário da newsletter"
      },
      "default": {
        "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in Ihrem Posteingang.</p>",
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
        "es": "<p>Promociones, nuevos productos y ofertas. Directamente a tu bandeja de entrada.</p>",
        "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
        "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua inbox.</p>",
        "ja": "<p>プロモーション、新商品、セールについて、あなたの受信箱に直接知らせる。</p>",
        "pt-BR": "<p>Promoções, novos produtos e vendas. Diretamente para sua caixa de entrada.</p>"
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "de": "Newsletter-Platzhalter Text",
        "en": "Newsletter placeholder text",
        "es": "Texto de marcador de posición del boletín",
        "fr": "Paramètre fictif de la newsletter",
        "it": "Testo del segnaposto della Newsletter",
        "ja": "ニュースレターのプレースホルダテキスト",
        "pt-BR": "Texto do marcador de posição da newsletter"
      },
      "default": {
        "de": "E-Mail-Adresse",
        "en": "Email address",
        "es": "Dirección de correo electrónico",
        "fr": "Adresse e-mail",
        "it": "Indirizzo email",
        "ja": "メールアドレス",
        "pt-BR": "E-mail"
      }
    }
  ]
}
{% endschema %}
